#AIdiv{
    border:1px solid;
    border-radius: 2em;
    width: 24%;
    margin-left: 1%;
    overflow: hidden;
}

#AIHintArea{
    width: 98%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding : 0 1% 0 1%;
    /* background-color: red; */
    
}

/* p balise AI title */
.pAI{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.8vw;
    font-family:Georgia,serif;
    /* font-weight: bold;  */
}

.line{
    border-bottom: 2px solid #ccc;
    display: none;
}

.activeLine{
    border-bottom: 2px solid #ccc;
}

.hintDiv{
    /* margin-top: 1vw; */
    justify-content : space-around;
    overflow-x: auto;
    border: 1px dashed;
    border-radius: 1em;
    color: black;
    font-family:Georgia,serif;
    font-size: 0.8vw;
    font-weight: bold;
    margin-top: 1%;
    padding: 0 1% 0 1%;
    /* display : block; */
    /* Color regarding AI's color */
}

.resHidden{
    display: none;
}