
#mainDiv{
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction : row;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    overflow: hidden;
}

#gameDiv{
    background-color: rgba(231, 227, 173, 0.979);
    border-radius : 2em;
    width: 75%;
    overflow: hidden;
}

/* -----------------HEADER (title/btn newGame)----------------- */
#header{
    display: flex;
    flex-direction: row;
}
.headerMember{
    width: 50%;
    display: flex;
    justify-content : space-around;
}
#title{
    text-align: center;  
    font-family:Georgia,serif;
    display: relative;
}
#titleH{
    font-size: 1.8vw;
    /* width : 50%; */
    /* font-size: 150%; */
    /* margin : 0 25% 0 25% */
}

.btnStyle{
    background: none;
    border: none;
    cursor: pointer;
    /* line-height: 1.5; */
    font: 700 1.3rem 'Georgia', sans-serif;
    font-size : 1.8vw;

}

.btnStyle:hover{
    font: 700 1.6vw 'Georgia', sans-serif;
    color : rgb(253, 253, 253);
}


/* ------------------------ Game Grid -------------------------- */
#gridDiv{
    display: table-row;
}

table
{
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-spacing: 10px;
}

td
{
    border: 1px solid black;
    text-align: center;
    border-width: 2px;
    font-size: 150%;
    border-radius: 1em;
}

.btn{
    /* background-color: rgb(219, 233, 228); */
    display: block;
    font-size: 1.5vw;
    /* height: 4em; */
    font-family:Georgia,serif;
    padding : 25% 0 25% 0 ;
}

/* -------------------------- Footer --------------------------- */

.btnsDiv{
    width: 100%;
    /* padding: 2%; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
    /* align-content: space-between; */
}

.btnsFooter{
    background: none;
    /* border: none; */
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.3rem 'Georgia', sans-serif;
    border-radius: 1em;
    font-size:1.5vw;

}

.btnsFooter:hover{
    /* font: 700 1.35rem 'Georgia', sans-serif; */
    color : rgb(253, 253, 253);
}

.hintArea{
    margin: 1rem 0 5px 0;
}

.btnRed{
    background: none;
    /* border: none; */
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.3rem 'Georgia', sans-serif;
    border-radius: 1em;
    font-size:1.5vw;;
}
.btnBlue{
    background: none;
    /* border: none; */
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.3rem 'Georgia', sans-serif;
    border-radius: 1em;
    font-size:1.5vw;
}

.btnRed:hover{
    color : crimson;
}
.btnBlue:hover{
    color: deepskyblue;
}

.hidden{
    display: none;
}
